<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CompanyName" value="Totál Szerszámgép Szervíz"/>
    <add key="CompanyAddress" value="2400 Dunaújváros, Tisza u. 1."/>
    <add key="companyPhone1" value="06 (25) 500-565"/>
    <add key="companyPhone2" value="06 (30) 9512-781"/>
    <add key="OpenTime" value="hétfő-péntek: 7.00-12-00; 13.00-16.00|NL|szombat         7.00-12.00"/>
    <add key="CostOfClean" value="100"/>
  </appSettings>
</configuration>