<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbGyorokEntities" connectionString="metadata=res://*/dbGyorok.csdl|res://*/dbGyorok.ssdl|res://*/dbGyorok.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VIRTWIN7\SQLEXPRESS;initial catalog=dbGyorok;user id=gyorok;password=gyorok;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>