<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SQLConnectionLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <userSettings>
    <SQLConnectionLib.Properties.Settings>
      <setting name="ServerIP" serializeAs="String">
        <value>virtwin7</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>gyorok</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>gyorok</value>
      </setting>
      <setting name="InitialCatalog" serializeAs="String">
        <value>dbGyorok</value>
      </setting>
      <setting name="IntegratedSecurity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PersistSecurityInfo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MultipleActiveResultSets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App" serializeAs="String">
        <value>EntityFramework</value>
      </setting>
      <setting name="Provider" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
      <setting name="MetaData" serializeAs="String">
        <value>res://*/dbGyorok.csdl|res://*/dbGyorok.ssdl|res://*/dbGyorok.msl</value>
      </setting>
      <setting name="ServerInstanceName" serializeAs="String">
        <value>sqlexpress</value>
      </setting>
      <setting name="PrimaryBackupPath" serializeAs="String">
        <value>C:\Temp\1</value>
      </setting>
      <setting name="SecondaryBackupPath" serializeAs="String">
        <value>C:\Temp\2</value>
      </setting>
    </SQLConnectionLib.Properties.Settings>
  </userSettings>
</configuration>