<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GyorokRentService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="dbGyorokEntities" connectionString="metadata=res://*/dbGyorok.csdl|res://*/dbGyorok.ssdl|res://*/dbGyorok.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=dbGyorok;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <GyorokRentService.Properties.Settings>
      <setting name="ServerIP" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>gyorok</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>gyorok</value>
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>Totál Szerszámgép Szervíz</value>
      </setting>
      <setting name="CompanyAddress" serializeAs="String">
        <value>2400 Dunaújváros, Tisza u. 1.</value>
      </setting>
      <setting name="CompanyPhone1" serializeAs="String">
        <value>06 (25) 500-565</value>
      </setting>
      <setting name="CompanyPhone2" serializeAs="String">
        <value>06 (30) 9512-781</value>
      </setting>
      <setting name="OpenTime" serializeAs="String">
        <value>hétfő-péntek: 7.00-12-00; 13.00-16.00|NL|szombat         7.00-12.00</value>
      </setting>
      <setting name="CostOfClean" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PrimaryBackupPath" serializeAs="String">
        <value>C:\Temp\1</value>
      </setting>
      <setting name="SecondaryBackupPath" serializeAs="String">
        <value>C:\Temp\2</value>
      </setting>
      <setting name="InitialCatalog" serializeAs="String">
        <value>dbGyorok</value>
      </setting>
      <setting name="IntegratedSecurity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PersistSecurityInfo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MultipleActiveResultSets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App" serializeAs="String">
        <value>EntityFramework</value>
      </setting>
      <setting name="Provider" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
      <setting name="MetaData" serializeAs="String">
        <value>res://*/dbGyorok.csdl|res://*/dbGyorok.ssdl|res://*/dbGyorok.msl</value>
      </setting>
      <setting name="ServerInstanceName" serializeAs="String">
        <value>sqlexpress</value>
      </setting>
    </GyorokRentService.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>